<section id="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>ABOUT THE COMPANY</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod veniam eius, qui id et mollitia illum vero, quasi asperiores, unde dolores eligendi recusandae illo sunt totam harum iusto saepe laudantium.</p>
                <div class="social">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>get in touch</h3>
                <div class="contact-list">
                    <ul>
                        <li class="address">ICC Trade Tower, 'A' Wing, 5th Floor,
                            <br> Senapati Bapat Road, Shivajinagar,
                            <br> Pune 411 016, Maharashtra, India.</li>
                        <li class="mail">+91 20 4011 4500 / 4501</li>
                        <li class="phone">support@mkcl.org</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h3>USEFUL LINKS</h3>
                <div class="useful-links">
                    <ul>
                        <li>Sitemap</li>
                        <li>User Login</li>
                        <li>Help & Support</li>
                        <li>COntact US</li>
                        <li>Terms n Condition</li>
                        <li>Disclaimer</li>
                        <li>Return Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>