<!--<nav>
    <a [routerLink]=" ['./home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
    <a ">
        Detail
      </a>
    <a >
        Barrel
      </a>
    <a>
        About
      </a>
</nav>-->

<header style="background:url('assets/img/banner.png') center center; background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <a href=""><img src="assets/img/logo.png" class="img-responsive" alt=""></a>
                </div>
            </div>
            <div class="col-md-8">
                <nav class="navbar custom-nav">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav pull-right">
                                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
                                <li><a href="" [routerLink]=" ['./home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
                                <li><a href="" [routerLink]=" ['./detail'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ABOUT</a></li>
                                <li><a href="" [routerLink]=" ['./barrel'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">COURSE</a></li>
                                <li><a href="" [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQS</a></li>
                                <li><a href="#">CONTACT</a></li>
                                <li><a href=""><span class="lnr lnr-magnifier"></span></a></li>
                                <!-- <li><a href=""><span class="lnr lnr-layers"></span></a></li> -->
                                <!-- <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li> -->
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="banner-text text-center">
            <h3>Promotonal Film for</h3>
            <h1>The Making of <span>Cerium</span></h1>
        </div>
    </div>
</header>